/* Eric Vasconcelos */

// Normalize
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
    font-family: sans-serif;
}
body {
    margin: 0;
}
 article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block;
}
audio,canvas,progress, {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],template {
    display: none;
}
ul {
    margin: 0;
    padding: 0;
}
a {
    background: transparent;
    outline: none;
}
a:active,a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
    max-width: 100%;
    height: auto;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code,kbd,pre,samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button,select {
    text-transform: none;
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,th {
    padding: 0;
}

.video-home {
    position: relative;
    padding-bottom: 55%;
    height: 0;
    overflow: hidden;

    p {
        margin: 0;
        padding: 0;
    }

    iframe,  
    object,  
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


// Grid
.container {
    margin-right: auto;
    margin-left: auto;
    width: 970px;
    
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.row { 
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
.row:after {
    clear: both;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.col-1 {
    width: 8.33333%;
}
.col-2 {
    width: 16.66667%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33333%;
}
.col-5 {
    width: 41.66667%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33333%;
}
.col-8 {
    width: 66.66667%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33333%;
}
.col-11 {
    width: 91.66667%;
}
.col-12 {
    width: 100%;
}

// Clearfix
.cf {
    *zoom: 1;

    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/* ========================
    MEU ESTILO
===========================*/
@import url(variables.less);

body {
	font-family: @font;
	background-color: #fff;
}
h1,h2,h3,h4,h4 {
	margin: 0;
}

/* --------------------------
    HEADER 
----------------------------- */
#header {
    width: 100%;
    background-color: @bege;
    border-top: 8px solid @red;
    border-bottom: 1px solid rgba(255,255,255,0.5);

    #logo {
        margin: 16px 0 15px;
        
        a,
        img {
            display: block;
        }
    }

    #menu-navigation {
        width: 100%;
        height: 39px;
        margin-bottom: 20px;
        background-color: @red;
        border-bottom: 3px solid @red-dark;
        .radius( 8px 8px 0 0);
        overflow: hidden;

        ul {
            list-style: none;
            text-align: left;
            display: block;
            float: left;
            margin: 7px 0 0 10px;


            li {
                display: inline-block;
                height: 12px;
                line-height: 11px;
                border-left: 1px solid @bege;
                padding: 0 7px 0 10px;

                &:first-child {
                    border-left: none;
                }

                a {
                    font-family: @font;
                    font-weight: 700;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: @bege;
                    text-decoration: none;
                }
            }
        }
    }

    .location {
        width: 220px;
        float: right;
        background-color: @red-dark-light;
        line-height: 36px;

        p {
            float: left;
            margin: 0 5px 0 15px;
            font-size: 12px;
            font-weight: 800;
            color: #fff;
            text-transform: uppercase;
        }
        
        .wrap-select {
            position: relative;
            display: block;
            float: left;
            height: 36px;

            select {
                width: 100px;
                height: 32px;
                float: left;
                background-color: @red-dark-light;
                border: none;
                outline: none;
                font-family: @font;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                color: @bege;
                cursor: pointer;
            }

            &:after {
                content: "";
                position: absolute;
                top: 13px;
                right: 5px;
                width: 0; 
                height: 0; 

                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 7px solid @bege;
            }
        }
        
    }
}

/* --------------------------
    HOME
----------------------------- */
/* Carousel */
#home-carousel {
    position: relative;
    z-index: 1;
    background: url(../images/bg-carousel.png) repeat left top @bege;
    height: 370px;
    .box-shadow(inset 0px 2px 8px 0px rgba(50, 50, 50, 0.5));

    .wrap-carousel {
        height: 346px;
        border: 1px solid #fff;
        margin-top: -15px;

        .theme-default .nivo-controlNav a {
            width: 10px;
            height: 10px;
            margin: 0 4px;
            background-image: none;
            background-color: @red;
            border: 2px solid #fff;
            .radius(3px);

            &.active {
                background-color: @bege;
            }
        }
    }
}

/* Mid-home -- Vídeo e Ofertas do dia */
#mid-home {
    width: 100%;
    background-color: @bege;
    padding: 25px 0;
}

/* Mapas */
#maps {
    width: 100%;
    height: auto;
    padding: 25px 0;
    background: url(../images/bg-maps.png) repeat top left @bege;

    #map_canvas {
        border: 1px solid #fff;
    }
    
    .location {
        width: 100%;
        float: right;
        line-height: 36px;
        margin-bottom: 20px;

        p {
            float: left;
            margin: 0 5px 0 0px;
            font-size: 12px;
            font-weight: 800;
            color: #fff;
            text-transform: uppercase;
        }
        
        .wrap-select {
            position: relative;
            display: block;
            float: left;
            height: 36px;

            select {
                width: 130px;
                height: 32px;
                padding-left: 5px;
                float: left;
                background-color: @red-dark-light;
                border: none;
                outline: none;
                font-family: @font;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                color: @bege;
                cursor: pointer;
            }

            &:after {
                content: "";
                position: absolute;
                top: 13px;
                right: 5px;
                width: 0; 
                height: 0; 

                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 7px solid @bege;
            }
        }
    }

    .address-stores {
        .loja {
            display: none;
            clear: both;
            margin-bottom: 15px;

            i.marker {
                display: block;
                float: left;
                margin-right: 15px;
                width: 32px;
                height: 43px;
                background: url(../images/marker.png) no-repeat 0 0 transparent;
            }

            address {
                display: block;
                font-size: 14px;
                font-weight: 600;
                color: #fff;
                text-transform: uppercase;
                font-style: normal;
                cursor: pointer;

            }
        }
    }
}


/* --------------------------
    FOOTER
----------------------------- */
footer#footer {
    width: 100%;
    height: auto;

    .footer-menu {
        width: 100%;
        height: 39px;
        background-color: @red-dark-light;
        .box-shadow(0px 3px 8px 0px rgba(0, 0, 0, 0.45));
        position: relative;
        z-index: 1;

        ul {
            list-style: none;
            text-align: left;
            display: block;
            float: left;
            margin: 7px 0 0 70px;


            li {
                display: inline-block;
                height: 12px;
                line-height: 11px;
                border-left: 1px solid @bege;
                padding: 0 7px 0 10px;

                &:first-child {
                    border-left: none;
                }

                a {
                    font-family: @font;
                    font-weight: 700;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: @bege;
                    text-decoration: none;
                }
            }
        }
    }

    .footer-bot {
        width: 100%;
        height: 70px;
        background-color: @red-dark;
        
        .copyright {
            color: @bege;
            font-size: 14px;
            line-height: 70px;
            text-transform: uppercase;
            margin: 0 0 0 80px;
        }
    }
}


.single {

    #content {
        
        h1 {
            margin: 20px 0;
        }
        .texto1,
        .texto2 {
            margin-bottom: 20px;
        }

        .img-single {
            margin: 20px 0; 

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
}

