/* --------------------------------
    VARIÁVEIS
----------------------------------- */
@font: 'Dosis', arial, sans-serif;
@bege: #cab491;
@red: #d72326;
@red-dark-light: #bc1d20;
@red-dark: #8a0304;
@bgsprite: url("/arquivos/sprite-icons.png");
@efeito: all .4s linear;

.transition (@string) {
  -webkit-transition: @string;
     -moz-transition: @string;
      -ms-transition: @string;
        -o-transform: @string;
          transition: @string;
}
.transform (@string) {
  -webkit-transform: @string;
     -moz-transform: @string;
      -ms-transform: @string;
       -o-transform: @string;
          transform: @string;
}
.radius(@raio) {
  -webkit-border-radius: @raio;
     -moz-border-radius: @raio;
          border-radius: @raio;
}
.box-shadow(@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow:    @string;
  box-shadow:         @string;
}
.appearance(@string) {
  -webkit-appearance: @string;
     -moz-appearance: @string;
          appearance: @string;
}
